<!-- template.html -->

<html>
<head>
    <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>
{% if warnings %}
    <p><span style="font-size: 25px;color: #ff7744;"> {{ warnings }} </span></p>

{% endif %}

<p><span id="myid" style="font-size: 25px;color: #ff7744;display: none;abc: #fff">This is hidden text.</span></p>

<p><span style="font-size: 20px;">模板文件名: </span> {{ src_docx_file }}</p>
<p><span style="font-size: 20px;">附件文件名: </span> {{ email_file }}</p>

    <table style="width: 100%; border-collapse: collapse; margin-bottom: 20px;">
         <thead>
        <tr>
            <th  style="border: 1px solid #ddd; width: 5%;  text-align: center;">序号</th>
            <th  style="border: 1px solid #ddd; width: 10%;">类型</th>
            <th  style="border: 1px solid #ddd; width: 5%; text-align: center;">页码</th>
            <th  style="border: 1px solid #ddd; width: 15%;">段落</th>
            <th  style="border: 1px solid #ddd; ">对比结果</th>
            <th  style="border: 1px solid #ddd; ">影响</th>
            <th  style="border: 1px solid #ddd; ">风险提示</th>
        </tr>
         </thead>
        <tbody>
        {% for line in lines %}
        <tr>
            <td style="border: 1px solid #ddd;   text-align: center;">{{ line['number'] }}</td>
            <td style="border: 1px solid #ddd;  text-align: center;">{{ line['type'] }}</td>
            <td style="border: 1px solid #ddd; text-align: center;">{{ line['page'] |replace('\n', '<br>') }}</td>
            <td style="border: 1px solid #ddd; text-align: left;">{{ line['part'] |replace('\n', '<br>') }}</td>
            <td style="font-size: smaller;border: 1px solid #ddd; text-align: left;">{{ line['result'] }}</td>
            <td style="font-size: smaller;border: 1px solid #ddd; text-align: left;">{{ line['effect'] |replace('\n', '<br>') }}</td>
            <td style="font-size: smaller;border: 1px solid #ddd; text-align: left;">{{ line['risk'] |replace('\n', '<br>') }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</body>
</html>
